# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migration files
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Local settings
*.env
.env.*

# SQLite database
*.sqlite3

# Logs
*.log

# Media and static files
/media
/staticfiles

# VSCode
.vscode/

# Python virtual environment
venv/
env/
ENV/
.venv/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# JetBrains IDEs (PyCharm, etc.)
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
